<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <title>Document</title>
    
</head>
<body>
    <form method="POST" action="update">
        <div class="input-group mb-3">
            <span class="input-group-text" id="nomelivro">id</span>
            <input type="text" class="form-control" name="id" aria-label="id" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="nomelivro">Nome</span>
            <input type="text" class="form-control" name="nome" aria-label="nome-livro" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">Descricao</span>
            <textarea class="form-control" aria-label="With textarea"name="descricao"></textarea>
        </div>
            <button type="submit" class="btn btn-primary">ATUALIZAR</button>
    </form>
</body>
</html>